@import '@/components/kit-core/mixins.scss';

.chartContainer {
  height: 100%;
  width: 120px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.chart {
  height: 100%;

  :global(.ct-line) {
    stroke-width: 1px;
  }

  :global(.ct-series-a) {
    .ct-area {
      fill: rgba(199, 228, 255, 0.5) !important;
      fill-opacity: 1 !important;
    }

    .ct-line {
      stroke: rgb(0, 69, 133) !important;
    }
  }
}
